In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
train_df = pd.read_csv('data/train_cleaned.csv')
test_df = pd.read_csv('data/test_cleaned.csv')

In [15]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   int64
 2   Item_Visibility            8523 non-null   float64
 3   Item_MRP                   8523 non-null   float64
 4   Outlet_Establishment_Year  8523 non-null   int64
 5   Outlet_Size                8523 non-null   int64
 6   Outlet_Location_Type       8523 non-null   int64
 7   Outlet_Type                8523 non-null   int64
 8   Item_Outlet_Sales          8523 non-null   float64
 9   Item_Type_Combined         8523 non-null   int64
dtypes: float64(4), int64(6)
memory usage: 666.0 KB

In [16]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                5681 non-null   float64
 1   Item_Fat_Content           5681 non-null   int64
 2   Item_Visibility            5681 non-null   float64
 3   Item_MRP                   5681 non-null   float64
 4   Outlet_Establishment_Year  5681 non-null   int64
 5   Outlet_Size                5681 non-null   int64
 6   Outlet_Location_Type       5681 non-null   int64
 7   Outlet_Type                5681 non-null   int64
 8   Item_Type_Combined         5681 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 399.6 KB

In [17]:
# lets split the target data from the train data

y = train_df['Item_Outlet_Sales']
X = train_df.drop(['Item_Outlet_Sales'], axis = 1)
x_test = test_df

# lets print the shapes of these newly formed data sets
print("Shape of the x :", X.shape)
print("Shape of the y :", y.shape)
print("Shape of the test data :", x_test.shape)

Shape of the x : (8523, 9)
Shape of the y : (8523,)
Shape of the test data : (5681, 9)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [19]:
# lets print the shapes again 
print("Shape of the X Train :", X_train.shape)
print("Shape of the y Train :", y_train.shape)
print("Shape of the X test :", X_test.shape)
print("Shape of the y test :", y_test.shape)
print("Shape of the test data :", x_test.shape)

Shape of the X Train : (6818, 9)
Shape of the y Train : (6818,)
Shape of the X test : (1705, 9)
Shape of the y test : (1705,)
Shape of the test data : (5681, 9)

In [20]:
from sklearn.metrics import  r2_score,mean_squared_error
from math import sqrt

In [21]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(n_jobs=1)
lr.fit(X_train,y_train)

#Predicting the Test set results
y_pred_lr = lr.predict(X_train)
score_lr = r2_score(y_train,y_pred_lr)
print("Score of Training:",100*score_lr)
print("RMSE :", np.sqrt(mean_squared_error(y_train,y_pred_lr)))

y_test_pred_lr = lr.predict(X_test)
score = r2_score(y_test,y_test_pred_lr)
print("Score of Testing:",100*score)
print("RMSE :" , np.sqrt(mean_squared_error(y_test,y_test_pred_lr)))

Score of Training: 36.07654777886642
RMSE : 1375.0955709405644
Score of Testing: 35.817295123540404
RMSE : 1320.782611366126

In [22]:
pd.DataFrame(np.c_[y_test,y_test_pred_lr], columns = ["actualpredict","machinepredict"])

      actualpredict  machinepredict
0         1743.0644     1590.111193
1          356.8688      294.150620
2          377.5086      736.494353
3         5778.4782     3228.499222
4         2356.9320     3155.579305
...             ...             ...
1700      3004.0896     1542.575351
1701       890.8404     2126.051872
1702       629.1810      928.583610
1703       253.0040      239.353635
1704       976.7286     1943.767970

[1705 rows x 2 columns]