In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
train_df = pd.read_csv('data/train_cleaned.csv')
test_df = pd.read_csv('data/test_cleaned.csv')

In [23]:
train_df

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,9.300,3,0.016047,249.8092,1999,3,1,1,3735.1380,3
1,5.920,2,0.019278,48.2692,2009,3,3,4,443.4228,1
2,17.500,3,0.016760,141.6180,1999,3,1,1,2097.2700,3
3,19.200,2,0.070482,182.0950,1998,3,3,2,732.3800,3
4,8.930,1,0.070482,53.8614,1987,1,3,1,994.7052,2
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,3,0.056783,214.5218,1987,1,3,1,2778.3834,3
8519,8.380,2,0.046982,108.1570,2002,3,2,1,549.2850,3
8520,10.600,1,0.035186,85.1224,2004,2,2,1,1193.1136,2
8521,7.210,2,0.145221,103.1332,2009,3,3,4,1845.5976,3
8522,14.800,3,0.044878,75.4670,1997,2,1,1,765.6700,1

In [24]:
# lets split the target data from the train data

y = train_df['Item_Outlet_Sales']
X = train_df.drop(['Item_Outlet_Sales'], axis = 1)
x_test = test_df

# lets print the shapes of these newly formed data sets
print("Shape of the x :", X.shape)
print("Shape of the y :", y.shape)
print("Shape of the test data :", x_test.shape)

Shape of the x : (8523, 9)
Shape of the y : (8523,)
Shape of the test data : (5681, 9)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [26]:
# lets print the shapes again 
print("Shape of the X Train :", X_train.shape)
print("Shape of the y Train :", y_train.shape)
print("Shape of the X test :", X_test.shape)
print("Shape of the y test :", y_test.shape)
print("Shape of the test data :", x_test.shape)

Shape of the X Train : (5966, 9)
Shape of the y Train : (5966,)
Shape of the X test : (2557, 9)
Shape of the y test : (2557,)
Shape of the test data : (5681, 9)

## Train The Model With RandomForest

In [27]:
from sklearn.metrics import  r2_score,mean_squared_error
from math import sqrt

In [28]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=500,max_depth=5, min_samples_leaf=5,min_samples_split=2,max_features='auto')

rfr.fit(X_train,y_train)

#Predicting the Test set results
y_pred_rfr = rfr.predict(X_train)
score = r2_score(y_train,y_pred_rfr)
print("Score of Training:",100*score)
print("RMSE :" , np.sqrt(mean_squared_error(y_train,y_pred_rfr)))

y_test_pred_rfr = rfr.predict(X_test)
score = r2_score(y_test,y_test_pred_rfr)
print("Score of Testing:",100*score)
print("RMSE : " , np.sqrt(mean_squared_error(y_test,y_test_pred_rfr)))

Score of Training: 61.51113687059255
RMSE : 1066.9034472267615
Score of Testing: 60.46996569212082
RMSE :  1052.2517295435775

In [29]:
pd.DataFrame(np.c_[y_test,y_test_pred_rfr], columns = ["actualpredict","machinepredict"])

      actualpredict  machinepredict
0         1743.0644     1242.914163
1          356.8688      692.040038
2          377.5086      688.234396
3         5778.4782     4963.166711
4         2356.9320     3189.756416
...             ...             ...
2552      2133.2232     2094.331120
2553      4287.7520     3180.365232
2554       767.0016      522.356966
2555       642.4970     2119.324285
2556      2570.6538     4077.939321

[2557 rows x 2 columns]

In [30]:
import pickle
filename = 'big-mart-sale-model_rfr.pkl'
pickle.dump(rfr, open(filename, 'wb'))

In [33]:
feature=[5.92,2,0.019278,48.2692,2009,3,3,4,1]
ml_model = rfr.predict([feature]).round(4)
print("Item_Outlet_sale: ",ml_model[0])

Item_Outlet_sale:  660.9603